<div class="hero">
  <h1>Welcome to Airbnb Clone</h1>
  <p>Find unique places to stay and experience a city like a local.</p>
  <%= link_to "Browse Flats", flats_path, class: "btn btn-primary" %>
  <%= link_to "List Your Flat", new_flat_path, class: "btn btn-secondary" %>
</div>
